<div class="contact-form">


	<form method="POST" action="{{ site.data.settings.contact_settings.form_action }}" id="contact-form">

		<div class="contact-form__item">
			<label class="contact-form__label">Email Address *</label>
			<input type="text" name="email" placeholder="Your email address..." class="contact-form__input">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">Name *</label>
			<input type="text" name="name" placeholder="Your name..." class="contact-form__input">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">Message *</label>
			<textarea name="message" placeholder="Your message..." class="contact-form__textarea"></textarea>
		</div>

		<input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
		<input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" />
		<input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

		<div class="contact-form__item">
			<input type="submit" value="{{ site.data.settings.contact_settings.send_button_text }}" class="button button--large">
		</div>

	</form>
		

<!---		
<div class="container">
	<h1>FormSubmit Demo</h1>
	<form target="_blank" action="https://formsubmit.co/b847fccbfa5672be616834ae958010ee" method="POST">
	  <div class="form-group">
		<div class="form-row">
		  <div class="col">
			<input type="text" name="name" class="form-control" placeholder="Full Name" required>
		  </div>
		  <div class="col">
			<input type="email" name="email" class="form-control" placeholder="Email Address" required>
		  </div>
		</div>
	  </div>
	  <div class="form-group">
		<textarea placeholder="Your Message" class="form-control" name="message" rows="10" required></textarea>
	  </div>
	  <button type="submit" class="btn btn-lg btn-dark btn-block">Submit Form</button>
	</form>
  </div>
-->
</div>